@import "../../../styles.scss";

.container{
  height:100%;
}
.title {
  text-align: center;
  padding-bottom: 30px;
  color: black;
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-shadow: black;
  font-weight: normal;
  margin-bottom: 5vh;
}

.vertical-centered{
 margin-top:10vh;
}
