<div class="title">Poziomy trudności</div>
<article class="vertical-centered">
  <div
    class="d-flex container-fluid col-lg-10 offset-lg-1 flex-column flex-md-row flex-wrap "
  >
    <div class="levelBlock">
        Junior
      <div class="photoContainer">
        <img class="levelPhoto" src="../../../images/junior.png" />
      </div>
    </div>

    <div class="levelBlock">
        Senior
      <div class="photoContainer">
        <img class="levelPhoto" src="../../../images/senior.png" />
      </div>
    </div>

    <div class="levelBlock">
        Expert
      <div class="photoContainer">
        <img class="levelPhoto" src="../../../images/ekspert.png" />
      </div>
    </div>
  </div>
</article>
