@import '../../../styles.scss';

.categoryBlock{
    margin: auto;
    height:160px;
    width:200px;
    margin-bottom:30px;
    background-color: $lightBackground;
    opacity:0.9;
    padding: 5px;
    border-radius: 1em;
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: "Lobster", cursive;
    box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.75);
}

.categoryBlock:hover{
    cursor:pointer;
    transform: scale(1.15);
}

.categoryPhoto{
    max-width:180px;
    max-height:110px;
    height:auto;
    opacity:0.9;
}

.photoContainer{
    margin-top:5px;
}