<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" role="navigation">
      <div class="navbar-header">
        <div class=nav-photo>
          <img class="title-image" src="../../../images/lemon.png" alt="lemon">
        </div>
        <a class="navbar-brand" routerLink="/home">Easy quizy</a>
      </div>
      <button class ="navbar-toggler" data-toggler="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class ="collapse navbar-collapse" id="navbarMenu">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" (click)="accountRouting()"> Konto</a>
          </li>
        </ul>
      </div>
      
    </nav>
  </header>
