<article class="container align-items-center">
<div class ="container-fluid col-xs-12 description">
    <div class="title">Sprawdź swoją wiedzę!</div>
    <p>
        Easy quizy to nowość na rynku aplikacji edukacyjnych z kategorii quiz. Możesz sprawdzić się w różnych kategoriach takich jak: sport, historia, literatura, lingwistyka, przyroda i geografia. W każdej kategorii są trzy stopnie trudności: junior, senior i ekspert. Zbieraj punkty i odblokowuj kolejne poziomy. Na końcu czeka Cię poziom mistrzowski. Jeśli go przejdziesz, będziesz mógł powiedzieć easy peasy lemon squeezy. 
    </p>
    <div class="text-center">Powodzenia!<br><br></div>   
<div class="signUpButton"><button class="btn" routerLink="/signUp">Zarejestruj się</button><br><br></div></div>
<div class="container-fluid col-xs-12  photo-lemon">
    <img class ="easy-peasy-photo" src="../../../images/easypeasy.png" alt="easy peasy">
</div>
</article>
