.container{
    display:flex;
    height:100%;
    margin:auto;
}
@media (max-width: 970px) { 
    .container{
    flex-direction: column;
    }
    .photo-lemon{
        margin-top:20px;
        
    }
    .description{
        font-size:15px;
    }
 }
.photo-lemon{
    
    
    text-align:center;
    /* text-align:center; */
}
.title{
    text-align:center;
    padding: 16px;
    color:black;
    font-family: 'Lobster', cursive;
    font-size:40px;
    text-shadow: black;
    font-weight: normal;
}
.description{
    margin:auto;
    text-align:justify;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Roboto', cursive;
    font-size:20px;
    font-weight: bold;
    
    }
.text-description {
    animation:descriptionSlideAnimation 1s 0s forwards;

}

img {
    animation: rotation;
    animation-duration: 2s;
}

@keyframes rotation {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes descriptionSlideAnimation{
    from{
        margin-left:-100%;
        width:100%;
    }
    to{
        margin-left:0%;
        width:100%;
    }
}
.easy-peasy-photo{
    margin:auto;
}
.signUpButton{
    
    margin:auto;
   text-align: center;
}
.btn{
    border-radius: 50px;
    border:3px solid black;
    color:black;
    background-color: #fefe22; 
   
   
    padding:10px;
    
    font-family:'Roboto', cursive;
    font-size:28px;
    opacity: 0;
    animation: buttonDelayAnimation 2s 2s forwards;
}
.btn:hover{

    
    background-color: #ffffaa;
}

@keyframes buttonDelayAnimation {
    to   { opacity: 1; }
  }