<section>
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <p>Rejestracja</p>
        <form (submit)="signUp($event)" [formGroup]="signUpForm">
            <figure>
                <img src="../../../images/lemon.png">
            </figure>
            <div class="input-box">
                <label for="firstName">Imię :</label>
                <input formControlName="first_name" type="text" name="firstName" id="firstName">
            </div>
            <div class="warning-box">
                <ng-container *ngIf="signUpForm.get('first_name').touched && signUpForm.get('first_name').invalid">
                    <span class="warning" *ngIf="signUpForm.get('first_name').errors.required">Imię nie może być puste</span>
                </ng-container>
            </div>
            <div class="input-box">
                <label for="lastName">Nazwisko :</label>
                <input formControlName="last_name" type="text" name="lastName" id="lastName">
            </div>
            <div class="warning-box">
                <ng-container *ngIf="signUpForm.get('last_name').touched && signUpForm.get('last_name').invalid">
                    <span class="warning" *ngIf="signUpForm.get('last_name').errors.required">Nazwisko nie może być puste</span>
                </ng-container>
            </div>
            <div class="input-box">
                <label for="email">Email :</label>
                <input formControlName="email" type="text" name="email" id="email">
            </div>
            <div class="warning-box">
                <ng-container *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
                    <span class="warning" *ngIf="signUpForm.get('email').errors.required">Email nie może być pusty</span>
                    <span class="warning" *ngIf="signUpForm.get('email').errors.pattern">Email nie jest poprawny</span>
                </ng-container>
            </div>
            <div class="input-box">
                <label for="login">Login :</label>
                <input formControlName="login" type="text" name="login" id="login">
            </div>
            <div class="warning-box">
                <ng-container *ngIf="signUpForm.get('login').touched && signUpForm.get('login').invalid">
                    <span class="warning" *ngIf="signUpForm.get('login').errors.required">Login nie może być pusty</span>
                </ng-container>
            </div>
            <div class="input-box">
                <label for="password">Hasło :</label>
                <input formControlName="password" type="password" name="password" id="password">
            </div>
            <div class="warning-box">
                <ng-container *ngIf="signUpForm.get('password').touched && signUpForm.get('password').invalid">
                    <span class="warning" *ngIf="signUpForm.get('password').errors.required">Hasło nie może być puste</span>
                    <span class="warning" *ngIf="signUpForm.get('password').errors.pattern">Hasło musi zawierać litery i cyfry oraz posiadać od 6 do 40 znaków</span>
                </ng-container>
            </div>
            <div class="button-box">
                <button [disabled]="!signUpForm.valid" type="submit">Zarejestruj</button>
            </div>
        </form>
    </div>
    
</section>