@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$question: rgba(85, 159, 172, 0.95);
$answer: #f7f3f3;
$selected: #e2d16e;
$text: #eee;
$lightBackground: #f8f9fa;
$red: rgb(238, 76, 76);
$green: rgb(84, 161, 60);
$yellow: #fefe22;
$yellowHover: #ffffaa;

body{
    background-image: url('https://cdn.pixabay.com/photo/2016/02/11/14/59/fruits-1193727_1280.png');
    background-size:cover; 
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    //min-height:500px
}
html{
    height:auto;
}
html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



