@import '../../../../styles.scss';

.title {
    text-align: center;
    padding: 16px;
    color: black;
    font-family: "Lobster", cursive;
    font-size: 50px;
    text-shadow: black;
    font-weight: normal;
  }
  
  
  .input-box{
    text-align: center;
    padding: 16px;
    color: black;
    font-family: "Lobster", cursive;
    font-size: 20px;
    margin-bottom:30px;
  }
  .form-control{
    display:inline-block;;
    max-width:200px;
    text-align: center;
    color:black;
    //background-color: $yellowHover;
    background-color: transparent;
    border:0;
    border-radius:1em;
    padding:0;
    font-size:25px;
    box-shadow: 0 0 4px 4px $green;
    //box-shadow: 0px 0px 4px  black;
  }

  .form-control:hover
  {
    cursor:pointer;
    
  }

  label{
    text-align:left;
    max-width:200px;
    width:100%;
    font-size:25px;
  }