@import '../../../styles.scss';

p {
    margin: 0;
    padding: 0;
    max-width:60%;
}

.container {
    //background-color: rgba(243, 246, 247, 0.6);
    border-radius: 2em;
    padding: 2em 1em;
    animation: fade;
    animation-duration: 1s;
}

.question, .answer {
    padding: 24px;
    margin: 16px;
    text-align: center;
    border-radius: 10px;
    color: $text;
    font-size: 20px;
    animation: fade;
    animation-duration: 2s;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

.question {
    background-color: $question;
    
    height:150px;
}

.answer {
    background-color: $answer;
    cursor: pointer;
    transition: 0.25s;
    color: black;
}

.answer:hover {
    transform: scale(1.05);
}

.selected {
    background-color: $selected;
}

.good {
    background-color: $green;
}

.wrong {
    background-color: $red;
}

.btn-box {
    text-align: center;
}

.btnCheck {
    border-radius: 10px;
    border:2px solid black;
    color:black;
    background-color: $yellow; 
    padding: 16px;
    margin: 1em;
    font-size: 20px;
    font-family:'Roboto', cursive;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

button:hover {
    background-color: $yellowHover;
    animation: move;
    animation-duration: 0.5s;
}

@keyframes move {
    10%{
        transform: translateX(-1px);
    }
    25%{
        transform: translateX(-3px);
    }
    75%{
        transform: translateX(3px);
    }
    90%{
        transform: translateX(1px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #0CC20C;
}

.spinnerPosition{
    position: absolute;
    //top:20px;
    right:20px;
}