<section class="container">
    <ng-container *ngIf="currentQuestion">
        <div class="row justify-content-center">
            <div class="question col-md-11">
                <p>{{currentQuestion.question}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <ng-container *ngFor="let answer of answers; let i = index">
                <div (click)="select(i)" [ngClass]="getAnswerClass(i)" class="answer col-md-5">
                    {{ answer }}
                </div>
            </ng-container>
        </div>
        <div class="btn-box">
            <button (click)="check()" class="btnCheck">{{buttonLabel}}</button>
        </div>
    </ng-container>
</section>