<div class="title">Kategorie</div>

<article>
  <section class="d-flex container-fluid col-lg-10 offset-lg-1 flex-column flex-md-row ">
    <div class="container categoryBlock ">
      Sport
      <div class="photoContainer">

      
      <img class="categoryPhoto" src="../../../images/sports.png">
    </div>
    </div>
    <div class="container categoryBlock">
      Geografia
      <div class="photoContainer">

      
        <img class="categoryPhoto" src="../../../images/geography.png">
    </div>
      
    </div>
    <div class="container categoryBlock">
      Historia
      <div class="photoContainer">

      
        <img class="categoryPhoto" src="../../../images/history.png">
    </div>
    </div>
  </section>
  <section class="d-flex container-fluid col-lg-10 offset-lg-1 flex-column flex-md-row ">
    <div class="container categoryBlock">
      Przyroda
      <div class="photoContainer">

      
        <img class="categoryPhoto" src="../../../images/biology.png">
    </div>
    </div>
    <div class="container categoryBlock">
      Literatura
      <div class="photoContainer">

      
        <img class="categoryPhoto" src="../../../images/literature.png">
    </div>
    </div>
    <div class="container categoryBlock">
      Lingwistyka
      <div class="photoContainer">

      
        <img class="categoryPhoto" src="../../../images/languages.png">
    </div>
    </div>
  </section>
</article>
